# Python / Venv
.venv/
__pycache__/
*.pyc
*.pyo

# Abhängigkeiten
node_modules/

# Logs & Temp
*.log
*.swp
*.tmp
.cache/
.DS_Store

# Modelle (zu groß für GitHub, werden beim Start automatisch geladen)
.models/

# Umgebungsvariablen
.env